<html>

<head>
  <title>Użytkownicy - Panel administratora</title>
  <meta charset="utf-8" />

  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/admin.css" rel="stylesheet" />
</head>

<body>

  <%- include('admin-page-nav'); %>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <h2>Użytkownicy</h2>
      <% if(page.empty) { %>
        <div class="alert alert-info" role="alert">
          Nie ma jeszcze żadnych użytkowników!
        </div>
        <% } else { %>
          <table class="table table-lg m-0">
            <thead class="">
              <tr>
                <th>Id użytkownika</th>
                <th>Nazwa użytkownika</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(function(user) { %>
                <tr>
                  <td>
                    <%= user.id %>
                  </td>
                  <td>
                    <%= user.username %>
                  </td>
                </tr>

                <% }); %>
            </tbody>
          </table>
          <nav aria-label="...">
            <ul class="pagination justify-content-end mt-3 mr-3">
              <li class="page-item <%if (page.isFirstPage) { %> disabled <% } %>">
                <a class="page-link" href="/admin/users?page=<%= page.currentPage - 1 %>">Poprzednie</a>
              </li>
              <li class="page-item <%if (page.isLastPage) { %> disabled <% } %>">
                <a class="page-link" href="/admin/users?page=<%= page.currentPage + 1 %>">Następne</a>
              </li>
            </ul>
          </nav>
          <% } %>
            </div>
            </div>
    </main>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>