<html>

<head>
  <title>Produkty - Panel administratora</title>
  <meta charset="utf-8" />

  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/admin.css" rel="stylesheet" />
</head>

<body>

  <%- include('admin-page-nav'); %>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <h2>Produkty</h2>
      <a href="/admin/products/new" class="btn btn-primary">Dodaj produkt</a>
      <% if(page.empty) { %>
        <div class="alert alert-info" role="alert">
          Nie ma jeszcze żadnych produktów!
        </div>
        <% } else { %>
          <table class="table table-lg m-0">
            <thead class="">
              <tr>
                <th>Id produktu</th>
                <th>Nazwa produktu</th>
                <th>Cena produktu</th>
                <th>Edytuj</th>
                <th>Usuń</th>
              </tr>
            </thead>
            <tbody>
              <% products.forEach(function(product) { %>
                <tr>
                  <td>
                    <%= product.id %>
                  </td>
                  <td>
                    <%= product.name %>
                  </td>
                  <td>
                    <%= product.price / 100 %> zł.
                  </td>
                  <td>
                    <a href="/admin/products/edit/<%= product.id %>">Edytuj</a>
                  </td>
                  <td>
                    <a href="/admin/products/delete/<%= product.id %>">Usuń</a>
                  </td>
                </tr>

                <% }); %>
            </tbody>
          </table>
          <nav aria-label="...">
            <ul class="pagination justify-content-end mt-3 mr-3">
              <li class="page-item <%if (page.isFirstPage) { %> disabled <% } %>">
                <a class="page-link" href="/admin/products?page=<%= page.currentPage - 1 %>">Poprzednie</a>
              </li>
              <li class="page-item <%if (page.isLastPage) { %> disabled <% } %>">
                <a class="page-link" href="/admin/products?page=<%= page.currentPage + 1 %>">Następne</a>
              </li>
            </ul>
          </nav>
          <% } %>
            </div>
            </div>
    </main>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>